# Notebook to Clean Data

20181206 - Cleaned 20181204 & 20181205 GRUMP and WP data for AGU
20181205 = Used '20181206_osm_africa_cities.csv' to match osm IDs with pop

In [117]:
import geopandas as gpd
import pandas as pd
import json
from shapely.geometry import Point

In [96]:
temp_data = '../../temp_data/'

africa_cont = 'Africa.shp'
africa_region = 'Africa_region.shp'
pop_file = '20181205_GRUMP2015_zone_pop.csv'

In [103]:
# Load Files
africa_count_gdf = gpd.read_file(temp_data+africa_cont)
africa_region_gdf = gpd.read_file(temp_data+africa_region)
pop_df = pd.read_csv(temp_data+pop_file)

In [124]:
pop_df.shape

(362, 5)

In [114]:
def load_points (file):
    """ This function loads a csv of points and turns it into shapely points"""
    df = pd.read_csv(file)

    # creating a geometry column 
    geometry = [Point(xy) for xy in zip(df['lon'], df['lat'])]

    # Coordinate reference system : WGS84
    crs = {'init': 'epsg:4326'}

    # Creating a Geographic data frame 
    point_gdf = gpd.GeoDataFrame(df, crs=crs, geometry=geometry)
    
    return point_gdf

In [120]:
osm_point_gdf = load_points(temp_data+'20181129_osm_africa_cities.csv')
osm_point_gdf.head(6)

          id        lat       lon                                geometry
0   27564946  36.364519  6.608260               POINT (6.60826 36.364519)
1   27565103  35.703275 -0.649298  POINT (-0.6492975999999999 35.7032751)
2  253292160  36.713784  4.049392            POINT (4.0493919 36.7137843)
3  262963217  33.361177  6.860349            POINT (6.8603492 33.3611766)
4  262964638  33.109897  6.066102             POINT (6.066102 33.1098968)
5  264573224  33.806352  2.880862            POINT (2.8808616 33.8063518)

In [121]:
merge_df = pd.merge(osm_point_gdf, pop_df, left_on = 'id', right_on = 'osm_id', how = 'inner')
#merge_df = pd.merge(osm_df, pop_df[['FID', 'geometry', 'GRUMP2015_PopTot']], on = 'osm_id')
merge_df.head()

,id,lat,lon,geometry_x,Unnamed: 0,osm_id,FID,geometry_y,GRUMP2015_PopTot
0,27564946,36.364519,6.608260,POINT (6.60826 36.364519),0,27564946,301,"POLYGON ((6.508333 36.475, 6.525 36.475, 6.525...",8.080542e+05
1,27565103,35.703275,-0.649298,POINT (-0.6492975999999999 35.7032751),1,27565103,582,"POLYGON ((-0.808333 35.775, -0.791667 35.775, ...",1.359337e+06
2,262963217,33.361177,6.860349,POINT (6.8603492 33.3611766),2,262963217,1419,"POLYGON ((6.883333 33.433333, 6.9 33.433333, 6...",1.580997e+05
3,288387133,36.733768,3.086179,POINT (3.0861789 36.7337682),3,288387133,83,"POLYGON ((3.008333 36.825, 3.016667 36.825, 3....",5.040620e+06
4,288417925,36.265344,2.766957,POINT (2.766957 36.265344),4,288417925,338,"POLYGON ((2.75 36.341667, 2.758333 36.341667, ...",1.494868e+05

In [122]:
# merge_df = pd.merge(osm_df, pop_df[['osm_id','FID', 'geometry', 'GRUMP2015_PopTot']], on = 'osm_id')
merge_df.shape

(325, 9)