# Notebook to Clean Data

2019 - 01 - 21
Notebook to clean final osm cities and towns
1. merge files
2. drop duplicates

In [1]:
import geopandas as gpd
import pandas as pd
import json
from shapely.geometry import Point

In [2]:
temp_data = '../../temp_data/'

city_file = 'AFR_PPP_2015_adj_v2_1500c300_polyoverlap.shp'
town_file = 'AFR_PPP_2015_adj_v2_1500c300_polyoverlap_towns.shp'

In [3]:
# Load Files
city = gpd.read_file(temp_data+city_file)
town = gpd.read_file(temp_data+town_file)

In [4]:
print(city.shape)
city.head()

(700, 8)

,osm_id,FID,country,city,osm_type,lat,lon,geometry
0,27564946,1065,Algeria,Constantine,city,36.364519,6.608260,"POLYGON ((6.616249 36.474584, 6.649583 36.4745..."
1,27565103,2174,Algeria,Oran,city,35.703275,-0.649298,"POLYGON ((-0.808751 35.774584, -0.792084 35.77..."
2,253292160,350,Algeria,Tizi Ouzou,city,36.713784,4.049392,"POLYGON ((3.966249 36.774584, 3.982916 36.7745..."
3,262963217,4347,Algeria,El Oued,city,33.361177,6.860349,"POLYGON ((6.816249 33.424584, 6.841249 33.4245..."
4,262964638,4437,Algeria,Touggourt,city,33.109897,6.066102,"POLYGON ((6.066249 33.16625, 6.082916 33.16625..."

In [5]:
print(town.shape)
town.head()

(3154, 8)

,osm_id,FID,country,city,osm_type,lat,lon,geometry
0,89369215,11918,Algeria,Tamanrasset,town,22.785454,5.532446,"POLYGON ((5.499583 22.81625, 5.541249 22.81625..."
1,89980948,10871,Algeria,In Salah,town,27.195033,2.482613,"POLYGON ((2.474583 27.224584, 2.482916 27.2245..."
2,252600742,242,Algeria,Boumerdès,town,36.758882,3.470596,"POLYGON ((2.999583 36.824584, 3.016249 36.8245..."
3,253167052,242,Algeria,Thenia,town,36.724986,3.556935,"POLYGON ((2.999583 36.824584, 3.016249 36.8245..."
4,253167208,242,Algeria,Zemmouri,town,36.786406,3.601221,"POLYGON ((2.999583 36.824584, 3.016249 36.8245..."

In [6]:
urban_concat = pd.concat([town, city])
urban_concat.shape

(3854, 8)

In [7]:
urban_concat.to_file(temp_data+'AFR_PPP_2015_adj_v2_urbanmerge_test.shp', driver='ESRI Shapefile')