# Notebook to Clean Data

2019 - 01 - 21
Notebook to clean final osm cities and towns
1. merge files
2. drop duplicates

In [1]:
import geopandas as gpd
import pandas as pd
import json
from shapely.geometry import Point

In [13]:
temp_data = '../../temp_data/'
erl_data = 'temp_data/ERL_data/'

poly_file = 'GHS_POP_GPW42000_GLOBE_R2015A_54009_1k_v1_0_Clip_1500c300.shp'
city_file = 'GHS_POP_GPW42000_GLOBE_R2015A_54009_1k_v1_0_Clip_1500c300_polyoverlap.shp'
town_fileA = 'GHS_POP_GPW42000_GLOBE_R2015A_54009_1k_v1_0_Clip_1500c300_subA.shp'
town_fileB1 = 'GHS_POP_GPW42000_GLOBE_R2015A_54009_1k_v1_0_Clip_1500c300_subB1.shp'
town_fileB2 = 'GHS_POP_GPW42000_GLOBE_R2015A_54009_1k_v1_0_Clip_1500c300_subB2.shp'

In [14]:
# Load Files
poly = gpd.read_file(temp_data+poly_file)
city = gpd.read_file(temp_data+city_file)
townA = gpd.read_file(temp_data+town_fileA)
townB1 = gpd.read_file(temp_data+town_fileB1)
townB2 = gpd.read_file(temp_data+town_fileB2)

In [16]:
print(len(poly))
print(len(city))
print(len(townA))
print(len(townB1))
print(len(townB2))
print(len(townA)+len(townB1)+len(townB2))

45281
762
3220
764
1108
5092

In [17]:
print(city.shape)
city.head()

(762, 8)

,osm_id,FID,country,city,osm_type,lat,lon,geometry
0,27564946,836,Algeria,Constantine,city,36.364519,6.608260,"POLYGON ((6.617867820344872 36.46023541470293,..."
1,27565103,1478,Algeria,Oran,city,35.703275,-0.649298,POLYGON ((-0.5520292176738086 35.7761652430474...
2,253292160,257,Algeria,Tizi Ouzou,city,36.713784,4.049392,"POLYGON ((3.842424792309737 36.82951907750196,..."
3,262963217,3134,Algeria,El Oued,city,33.361177,6.860349,"POLYGON ((6.823551157031729 33.41618733754167,..."
4,262964638,3206,Algeria,Touggourt,city,33.109897,6.066102,"POLYGON ((6.064548898662129 33.15645433151028,..."

In [6]:
print(townA.shape)
townA.head()

(3058, 8)

,osm_id,FID,country,city,osm_type,lat,lon,geometry
0,89369215,16863,Algeria,Tamanrasset,town,22.785454,5.532446,"POLYGON ((5.523842554283844 22.82143812548671,..."
1,252600742,187,Algeria,Boumerdès,town,36.758882,3.470596,"POLYGON ((3.879862753261432 36.92634664178389,..."
2,253167052,187,Algeria,Thenia,town,36.724986,3.556935,"POLYGON ((3.879862753261432 36.92634664178389,..."
3,253167208,187,Algeria,Zemmouri,town,36.786406,3.601221,"POLYGON ((3.879862753261432 36.92634664178389,..."
4,253291208,1530,Algeria,Lakhdaria,town,36.563944,3.596907,"POLYGON ((3.52630149841732 36.592046118739, 3...."

In [18]:
urban_concat = pd.concat([townA, townB1, townB2, city])
urban_concat.shape

(5854, 8)

In [19]:
gdf_drop = urban_concat.drop_duplicates(['FID'], keep='first')
gdf_drop.shape

(4951, 8)

In [9]:
# urban_concat.to_file(temp_data+'GHS_POP_GPW42015_urbanmerge.shp', driver='ESRI Shapefile')

In [ ]:
# gdf_drop.to_file(temp_data+'AFR_PPP_2015_adj_v2_urbanmerge_test_drop.shp', driver='ESRI Shapefile')