# Note Book To Fix Country Boarder Problem

This notebook is to clip polygons that overlap country boundaries

By Cascade Tuholske and Ryan Avery 2019-04-29

### Dependencies

In [1]:
from rasterstats import zonal_stats
import rasterio
import geopandas as gpd
import operator
import numpy as np
import pandas as pd
import matplotlib 
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from functools import reduce
import squarify
from scipy import stats as ss

### Load Data

In [2]:
# Paths
data_raw = '../../data/raw/'
data_temp = '../../temp_data/'
data_interim = '../../interim/'
erl_data = '/Users/cascade/Github/Pop-ERL/temp_data/ERL19/ERL_data/'
downloads = '/Users/cascade/Downloads/'
erl_v2_data = '/Users/cascade/Github/Pop-ERL/temp_data/ERL19/ERLv2/'

In [3]:
GHS2000 = gpd.read_file(erl_v2_data+'GHS2000_20190429_all.shp', driver = 'ESRI Shapefile')
GHS2015 = gpd.read_file(erl_v2_data+'GHS2015_20190429_all.shp', driver = 'ESRI Shapefile')
WP2015 = gpd.read_file(erl_v2_data+'WP2015_20190429_all.shp', driver = 'ESRI Shapefile')
LS2015 = gpd.read_file(erl_v2_data+'WPE2016_20190429_all.shp', driver = 'ESRI Shapefile')
WPE2016 = gpd.read_file(erl_v2_data+'LS2015_20190429_all.shp', driver = 'ESRI Shapefile')

In [8]:
def find_dup(df, col):
    df_out = gpd.GeoDataFrame()
    duplicated = df[col].duplicated()
    
    df_out = df[duplicated]
    return df_out

In [106]:
num = [1,1,2,3,3,1]
state = ['mt', 'ca', 'mt', 'pa', 'pa', 'mt']
cool = ['yes', 'yes', 'yes', 'no', 'yes', 'yes']

test = pd.DataFrame()
test['num'] = num
test['state'] = state
test['cool'] = cool


test

   num state cool
0    1    mt  yes
1    1    ca  yes
2    2    mt  yes
3    3    pa   no
4    3    pa  yes
5    1    mt  yes

In [110]:
out = test.groupby(['state', 'num']).groups

In [111]:
for key, value in out:
    print(key, value)

ca 1
mt 1
mt 2
pa 3

In [107]:
g = test.groupby('num')['state'].apply(np.unique)
g

num
1    [ca, mt]
2        [mt]
3        [pa]
Name: state, dtype: object

In [101]:
test.groupby(['state','num']).size().reset_index().rename(columns={0:'count'})

(5854, 10)

In [102]:
test = find_dup(GHS2000, 'FID')

In [105]:
test.groupby(['FID','country'])

In [12]:
out = test.groupby('FID')['country'].apply(np.unique)

In [113]:
test = find_dup(GHS2000, 'FID')

out = test.groupby(['country', 'FID']).groups
for key, value in out:
    print(key, value)

Algeria 54
Algeria 138
Algeria 172
Algeria 197
Algeria 232
Algeria 240
Algeria 246
Algeria 257
Algeria 327
Algeria 329
Algeria 368
Algeria 435
Algeria 437
Algeria 467
Algeria 518
Algeria 556
Algeria 614
Algeria 619
Algeria 624
Algeria 712
Algeria 754
Algeria 766
Algeria 772
Algeria 836
Algeria 843
Algeria 1043
Algeria 1065
Algeria 1223
Algeria 1276
Algeria 1377
Algeria 1415
Algeria 1478
Algeria 1712
Algeria 2210
Algeria 3046
Algeria 3134
Algeria 3566
Algeria 3798
Angola 36450
Angola 36509
Angola 37544
Angola 38670
Angola 38879
Angola 39782
Angola 39961
Benin 15600
Benin 21647
Benin 22327
Benin 23165
Benin 23347
Botswana 43675
Burkina Faso 11146
Burkina Faso 12993
Burkina Faso 14200
Burundi 33762
Cameroon 15285
Cameroon 24910
Cameroon 26543
Cameroon 26570
Cameroon 26677
Cape Verde 5507
Central African Republic 24661
Central African Republic 26404
Chad 11838
Comoros 38746
Congo-Brazzaville 28047
Congo-Brazzaville 34633
Côte d'Ivoire 25425
Djibouti 13083
Egypt 4235
Egypt 4256
Egypt 4341
Egypt 4483
Egypt 4593
Egypt 4915
Egypt 4987
Egypt 5050
Egypt 5084
Egypt 5306
Egypt 5309
Ethiopia 17136
Ethiopia 18191
Ethiopia 19267
Gabon 29243
Gambia 8613
Ghana 14843
Ghana 20727
Ghana 20874
Ghana 20924
Ghana 20960
Ghana 21097
Ghana 21723
Ghana 21876
Ghana 21908
Ghana 22082
Ghana 22084
Ghana 22209
Ghana 22749
Ghana 22883
Ghana 23742
Ghana 23823
Ghana 23932
Ghana 23934
Ghana 24027
Ghana 24037
Ghana 24526
Ghana 24756
Ghana 24885
Ghana 25004
Ghana 25506
Ghana 25615
Ghana 25629
Ghana 25913
Ghana 25915
Ghana 25991
Guinea 13052
Guinea 13447
Guinea 14296
Guinea 16062
Guinea 16896
Guinea 17546
Guinea 18781
Kenya 28750
Kenya 29454
Kenya 29497
Kenya 29689
Kenya 29817
Kenya 29883
Kenya 30658
Kenya 30840
Kenya 30917
Kenya 30944
Kenya 31045
Kenya 31131
Kenya 31186
Kenya 31255
Kenya 31373
Kenya 32157
Lesotho 44623
Liberia 21903
Liberia 22352
Liberia 23659
Libya 3444
Libya 3475
Libya 3519
Libya 3568
Libya 3685
Libya 3752
Libya 3911
Libya 5265
Libya 5285
Madagascar 42165
Madagascar 42542
Malawi 38603
Malawi 38703
Malawi 40572
Malawi 40716
Mali 6533
Mali 7309
Mali 7751
Mali 8402
Mali 8468
Mali 8773
Mali 9090
Mali 9703
Mali 9704
Mali 10000
Mali 10081
Mali 10294
Mali 10413
Mali 10546
Mali 10846
Mali 13439
Mauritius 42592
Mauritius 42701
Morocco 1383
Morocco 1534
Morocco 1783
Morocco 1927
Morocco 1985
Morocco 2131
Morocco 2175
Morocco 2829
Morocco 2878
Morocco 2892
Morocco 2893
Morocco 3081
Morocco 3136
Morocco 3158
Morocco 3818
Morocco 3905
Morocco 3936
Morocco 3968
Morocco 4865
Morocco 4866
Morocco 4907
Mozambique 39785
Mozambique 44057
Namibia 41611
Niger 8225
Nigeria 9776
Nigeria 10867
Nigeria 11114
Nigeria 11398
Nigeria 12435
Nigeria 12568
Nigeria 13247
Nigeria 13871
Nigeria 14134
Nigeria 15068
Nigeria 15390
Nigeria 15794
Nigeria 17528
Nigeria 17937
Nigeria 17996
Nigeria 18812
Nigeria 19922
Nigeria 20259
Nigeria 20379
Nigeria 20430
Nigeria 20670
Nigeria 20782
Nigeria 21203
Nigeria 23347
Nigeria 24657
Nigeria 24919
Nigeria 25044
Nigeria 26167
Rwanda 31640
Rwanda 31644
Rwanda 31718
Rwanda 31739
Rwanda 32060
Rwanda 32199
Rwanda 32272
Rwanda 32494
Réunion 42845
Réunion 42883
Réunion 42894
Réunion 42952
Réunion 42961
Senegal 5637
Senegal 6349
Senegal 6439
Senegal 6512
Senegal 6692
Senegal 6767
Senegal 6965
Senegal 7013
Sierra Leone 17938
Sierra Leone 18631
Sierra Leone 18985
Somalia 15507
Somalia 16865
Somalia 16872
Somalia 18862
Somalia 27422
Somalia 27838
Somalia 28034
South Africa 43530
South Africa 43610
South Africa 43639
South Africa 43642
South Africa 43655
South Africa 43710
South Africa 43881
South Africa 43913
South Africa 43936
South Africa 43956
South Africa 43957
South Africa 43963
South Africa 43971
South Africa 43976
South Africa 43991
South Africa 43997
South Africa 44010
South Africa 44015
South Africa 44027
South Africa 44036
South Africa 44047
South Africa 44157
South Africa 44214
South Africa 44228
South Africa 44325
South Africa 44338
South Africa 44340
South Africa 44369
South Africa 44376
South Africa 44381
South Africa 44411
South Africa 44421
South Africa 44475
South Africa 44582
South Africa 44685
South Africa 44686
South Africa 44700
South Africa 44720
South Africa 44829
South Africa 44835
South Africa 44886
South Africa 44894
South Africa 44920
South Africa 45078
South Africa 45084
South Africa 45120
South Africa 45127
South Africa 45130
South Africa 45156
South Africa 45157
South Africa 45164
South Africa 45166
South Africa 45209
South Africa 45210
South Africa 45211
South Africa 45212
South Africa 45240
South Africa 45255
South Africa 45258
Sudan 6165
Sudan 6662
Tanzania 33243
Tanzania 33692
Tanzania 33743
Tanzania 34988
Tanzania 35967
Tanzania 36510
Togo 14198
Togo 24027
Tunisia 1
Tunisia 95
Tunisia 254
Tunisia 744
Tunisia 1375
Tunisia 1446
Tunisia 1591
Tunisia 2891
Tunisia 3286
Uganda 28355
Uganda 28401
Uganda 29137
Uganda 29227
Uganda 29635
Uganda 31313
Western Sahara 5277
Western Sahara 5288
Western Sahara 5372
Western Sahara 5387
Zambia 37697
Zambia 37701
Zambia 38903
Zambia 40344
Zimbabwe 41726